/* 
    Document   : style
    Created on : 16.03.2013, 18:23:52
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root
{
    display: block;
}
#mainWrapper
{
    margin: 0 auto;
    width: 600px;
}
    #mainWrapper form input
    {
      width: 175px;
    }
    #mainWrapper form textarea
    {
        resize: none;
        width: 300px;
        height: 200px;
    }
.tableWrap
{
  margin: 0 auto;
  width: 900px;
  border: 2px solid #9A0000;
  border-radius: 9px;
  display: table;
}
  .tableRow
  {
    width: inherit;
    height: 35px;
    border-bottom: 2px solid gray;
  }
  .tableRow:last-child
  {
    border-bottom: none;
  }
    .header
    {
      font-weight: bold;
    }
    .tableCell
    {
      float: left;
      width: 19.7%;
      height: inherit;
      text-align: center;
      border-right: 2px solid gray;
    }
    .tableCell:last-child
    {
      border-right: none;
    }